<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${movie.name}">Bootstrap demo</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>


    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />


    <link rel="stylesheet" th:href="@{/web-assets/css/style.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container">
            <a class="navbar-brand" href="#"
            ><img
                    class="logo"
                    src="https://png.pngtree.com/template/20190613/ourmid/pngtree-logo-with-movie-camera-and-tripod-you-can-use-for-logo-image_211693.jpg"
                    alt=""
            /></a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="/home" class="nav-link text-white">Trang Chủ</a>
                    <a href="/phim-le" class="nav-link text-white">Phim lẻ</a>
                    <a href="/phim-bo" class="nav-link text-white">Phim bộ</a>
                    <a href="/phim-chieu-rap" class="nav-link text-white">Phim chiếu rạp</a>
                    <a class="nav-link text-white">Quốc gia </a>
                    <a class="nav-link text-white">Thể loại</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="movie-poster rounded overflow-hidden">
                    <img
                            th:src="${movie.poster}"
                            th:alt="${movie.name}"
                    />
                </div>
            </div>
            <div class="col-9">
                <h4 class="mb-2" th:text="${movie.name}"></h4>
                <div class=".bg-dark-subtle p-4">
                    <p class="mb-2">Thể loại :
                        <span th:each="genre, iterStat : ${movie.genres}">
                            <span th:text="${genre.genre}"></span>
                            <span th:if="${!iterStat.last}">, </span>
                        </span>
                    </p>
                    <p class="mb-2">Năm sản xuất :
                        <th:block th:text="${movie.releaseYear}"></th:block>
                    </p>
                    <p class="mb-2">Quốc gia :
                        <th:block th:text="${movie.country.name}"></th:block>
                    </p>
                    <p class="mb-2">Đạo Diễn :
                        <span th:each="director, iterStat : ${movie.directors}">
                            <span th:text="${director.name}"></span>
                            <span th:if="${!iterStat.last}">, </span>
                        </span>
                    </p>
                    <p class="mb-2">Diễn Viên :
                        <span th:each="actor, iterStat : ${movie.actors}">
                            <span th:text="${actor.name}"></span>
                            <span th:if="${!iterStat.last}">, </span>
                        </span>
                    </p>
                    <p class="mb-2">Mô Tả :
                        <th:block th:text="${movie.description}"></th:block>
                    </p>
                    <a class="btn btn-danger px-"
                       th:href="@{/xem-phim/{id}/{slug}?tap='1'(id=${movie.id},slug=${movie.slug})}">Xem phim</a>
                    <button class="btn btn-dark px-5">Thêm vào yêu thích</button>
                </div>
            </div>
        </div>
        <div class="row" th:if="${movie.type.toString()=='PHIM_BO'}">
            <h3 class="text-uppercase mt-4 mb-3">Danh sách tập phim</h3>
            <div class="d-flex  ">
                <div class="" th:each="episode,iterStat:${episodes}">
                    <a th:href="@{/xem-phim/{id}/{slug}?tap={episode} (id=${movie.id}, slug=${movie.slug},episode=${episode})}"
                       th:text="'Tập ' + ${iterStat.index + 1}" class="btn btn-dark"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-4 bg-body-tertiary">
    <div class="container">
        <h2 class="text-uppercase">Phim đề xuất</h2>

        <div class="row">
            <div class="col-2" th:each="movie : ${relatedMovies}">
                <a th:href="@{/phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug})}"
                   class="text-decoration-none text-dark">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img th:src="${movie.poster}" th:alt="${movie.name}">
                        </div>
                        <p class="mt-2" th:text="${movie.name}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="py-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="text-uppercase mb-3">Bình Luận</h3>


            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalReview">
                Bình Luận
            </button>


            <div class="modal fade" id="modalReview" th:data-movie-id="${movie.id}" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Viết bình luận</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div class="rating">
                                    <span class="star" data-rating="1">
                                          <i class="fa-solid fa-star"></i>
                                     </span>
                                    <span class="star" data-rating="2">
                                          <i class="fa-solid fa-star"></i>
                                     </span>
                                    <span class="star" data-rating="3">
                                          <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span class="star" data-rating="4">
                                          <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span class="star" data-rating="5">
                                          <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span class="star" data-rating="6">
                                          <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span class="star" data-rating="7">
                                          <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span class="star" data-rating="8">
                                          <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span class="star" data-rating="9">
                                          <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span class="star" data-rating="10">
                                          <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <div id="rating-value">Vui lòng chọn đánh giá</div>
                            </div>
                            <form id="form-review">
                                <div class="mb-3">
                                    <textarea class="form-control" id="review-content" rows="5"></textarea>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Gửi Bình luận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p>Vui lòng <a href="/dang-nhap" class="text-decoration-unline">đăng nhập</a> để viết bình luận</p>


        <div class="review-list" th:each="review : ${reviews}">
            <div class="review-item d-flex mb-3 ">
                <div class="review-avatar">
                    <img th:src="${review.user.avatar}" alt=""/>
                </div>
                <div class="review-info ps-3">
                    <p class="mb-0">
                        <span class="fw-bold" th:text="${review.user.name}"></span>
                        <span class="fst-italic text-muted" th:text="${review.createdAt}"></span>
                    </p>
                    <p class="mb-0">
                        <th:block th:text="${review.rating}"></th:block>
                        <span class="text-warning">⭐</span></p>
                    <p class="mb-0" th:text="${review.content}">
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="navbar navbar-expand-lg bg-black">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div>
                    <img
                            src="https://png.pngtree.com/template/20190613/ourmid/pngtree-logo-with-movie-camera-and-tripod-you-can-use-for-logo-image_211693.jpg"
                            alt=""
                    />
                </div>
                <p class="text-white mt-2">
                    Là phim bluray (reencoded), có độ phân giải thấp nhất là Full HD
                    (1080p), trong khi hầu hết các trang phim khác chỉ có tới độ phân
                    giải HD (720p) là cao nhất Chất lượng cao, lượng dữ liệu trên giây
                    (bitrate) gấp từ 5 - 10 lần phim online thông thường - đây là yếu
                    tố quyết định độ nét của phim (thậm chí còn quan trọng hơn độ phân
                    giải) Âm thanh 5.1 (6 channel) thay vì stereo (2 channel) như các
                    trang phim khác (kể cả Youtube)
                </p>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb-2">Phim chiếu rạp</p>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb-2">Phim chiếu rạp</p>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb-2">Phim chiếu rạp</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
    const movieId = [[${movie}]];
</script>
<script src="/web-assets/js/movie-review.js"></script>
</body>
</html>
